<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">

    <h1>Hello, My name is Shreya Harkangi.</h1>
    <p>This is a sample about me page for GDSD</p>
    
  </div>
</div>

</body>
</html>
